* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  justify-content: center;
  background: #ffffff;
  padding: 0 50px;
  z-index: 5;
}
header .header__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__inner--img {
  width: auto;
}
header .header__inner nav {
  width: 50%;
}
header .header__inner nav ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
header .header__inner nav ul li {
  transition: 0.3s linear all;
  position: relative;
}
header .header__inner nav ul li::after {
  width: 100%;
  height: 2px;
  background: #24cdd5;
  position: absolute;
  bottom: -5px;
  left: 0;
}
header .header__inner nav ul li:hover {
  cursor: pointer;
  color: #24cdd5;
}
header .header__inner nav ul li:hover::after {
  content: "";
}
header .header__inner a {
  display: none;
  color: #000000;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#intro .intro__inner {
  width: 100%;
  height: 100%;
  background-image: url("../images/slider/1.jpeg");
  background-size: cover;
  background-position: center;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
#intro .intro__inner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
#intro .intro__inner--title {
  text-align: center;
  color: #ffffff;
}
#intro .intro__inner--title span {
  display: block;
  font-size: 36px;
  font-weight: 200;
}
#intro .intro__inner--title span:last-of-type {
  font-size: 20px;
}
#intro .intro__inner--title h1 {
  font-size: 50px;
}
#intro .intro__blocks {
  position: absolute;
  width: 1200px;
  height: 300px;
  bottom: 0;
  transform: translateY(70%);
  display: flex;
  align-items: center;
  text-align: center;
}
#intro .intro__blocks--item {
  width: 33.3333333333%;
  height: 90%;
  background: green;
  background: #26313c;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  padding: 20px 0;
}
#intro .intro__blocks--item:nth-of-type(2) {
  height: 100%;
  background: pink;
  background: linear-gradient(to right, #5192e1 0%, #23ced5 51%, #5192e1 100%);
}
#intro .intro__blocks--item i {
  font-size: 30px;
  transition: 0.3s linear all;
}
#intro .intro__blocks--item span {
  text-align: center;
}
#intro .intro__blocks--item:hover i {
  transform: scale(1.1);
}

#advice {
  background: #5192e1;
  width: 100%;
  height: 80vh;
  padding: 350px 0 10px 0;
  display: flex;
  justify-content: center;
}
#advice .advice__container {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 500px;
}
#advice .advice__container .advice__content {
  width: 100%;
  height: 100%;
  color: #ffffff;
}
#advice .advice__container .advice__content h2 {
  font-size: 32px;
  font-weight: 300;
}
#advice .advice__container .advice__content p {
  width: 100%;
}
#advice .advice__container .advice__img {
  width: 30%;
  height: 100%;
}
#advice .advice__container .advice__img img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  #intro .intro__blocks {
    width: 80%;
  }
}
@media only screen and (max-width: 991px) {
  header .header__inner {
    width: 100%;
    justify-content: space-between;
  }
  header .header__inner nav {
    width: 100%;
  }
  header .header__inner nav ul {
    display: none;
  }
  header .header__inner a {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  #intro .intro__blocks {
    width: 80%;
  }
  #intro .intro__blocks--item {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
